name: FTP Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v3

    - name: FTP Deploy
      uses: SamKirkland/FTP-Deploy-Action@v4
      with:
        server: ${{ secrets.ftp.whyceeyes.com }}
        username: ${{ secrets.custom_erp@whyceeyes.com }}
        password: ${{ secrets.Kathir_erp@3124 }}
        local-dir: ./
        server-dir: /public_html/custom_erp/
